
.arju{
    margin-top:-400px;
    text-align: center;
    font-size: 40px;
}
.arju1{
    text-align: center;
    font-size: 40px;
}

.suju{
    margin-left: 50px;
}
.cc{
    margin-left: 100px;
    background-image: url(./img/canteen1.jpg);
    height:60vh;
    width: 100vw;
}


