
.arju{
    /* margin-top:-400px; */
    text-align: center;
    font-size: 40px;
}
.arju1{
    text-align: center;
    font-size: 40px;
}

.suju{
    margin-left: 50px;
}
.dd{
    height:100vh;
    width:100vw;
    background-image:url(../img/canteen1.jpg);
}

